body {
font-family: Arial, Helvetica, sans-serif;
padding: 0;
background-color: whitesmoke;
color:#333 ;
}

header {
background-color: tomato;
color: white;
text-align: center;
padding: 20px;
font-family: Arial,unset;
}

.label
{
  color: white;
  font-family: 'Montserrat', sans-serif;
  line-height: 50px;
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 0 5.5;
  transition: all .3s ease;
}
.cta-container
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button
{
  position: relative;
  height: 100%;
  cursor: pointer;
}
.relative-box
{
  position: relative;
  height: 100%;
}
.square-front
{
  position: absolute;
  top: -5px;
  right: -10px;
  bottom: -5px;
  left: -10px;
}
.square-back
{
  position: absolute;
  top: -10px;
  right: -5px;
  bottom: -10px;
  left: -5px;
}
.line
{
  background-color: white;
  transition: all .3s ease;
}
.line-top
{
    position: absolute;
    height: 1px;
    top: 0;
    right: 0;
    left: 0;
  }
  .line-right
  {
    position: absolute;
    width: 1px;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .line-bottom
  {
    position: absolute;
    height: 1px;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .line-left
  {
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .button:hover
  {
    .label
    {
      background-color: white;
      color: rgba(11,11,11,.8);
      box-shadow: 0 0 20px white;
    }
    .square-back
    {
      
      .line-top,
      .line-bottom
      {
        left: 50%;
        right: 50%;
      }
      .line-left,
      .line-right
      {
        top: 5px;
        bottom: 5px;
      }
    }
    .square-front
    {
      .line-top,
      .line-bottom
      {
        right: 5px;
        left: 5px;
      }
      .line-left,
      .line-right
      {
        top: 50%;
        bottom: 50%;
      }
    }
  }












h1 {
color: black;
padding: 10px;

}


footer {
background-color: tomato;
color: white;
padding: 20px;
font-family: Arial,unset;
}


